<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Katman Çıktıları</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (event) {
                event.preventDefault();
                var form_data = new FormData($('form')[0]);

                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (response) {
                        console.log(response);
                        // Sonuçları işleme ve görüntüleme işlemleri
                        // Burada gerçekleştirilecek
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Katman Çıktıları</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Gönder</button>
    </form>
</body>
</html>
